*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 18%;
    border-bottom: 3px solid rgb(189, 178, 199);
    background-color: white;
    position: sticky;
    top: 0%;
    z-index: 10;
}

header .logo{
    height: 29px;
}

header .logo .img{
    height: 100%;
    object-fit: contain;
}

header .search_box{
    width: 250px;
    background-color: rgba(239,239,239,1);
    padding: 3px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

header .search_box input{
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(239,239,239,1);
    padding-left: 10px;
    font-size: 15px;
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    margin-right: 20px;
}

header nav ul li a img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
}

header nav ul li a i{
    font-size: 22px;
    color: black;
}

/* body */
section{
    padding: 30px 18% ;
    background-color: #fafafa;
    display: flex;
}

.left_side{
    width: 65%;
}
.story{
    display: flex;
    padding: 16px;
    background-color: white;
    border: 1px solid rgba(239,239,239,1);
    border-radius: 5px;
}

.story .stories{
    width: 17%;
}

.story .stories a img{
    border-radius: 50%;
    border: 2px solid #d70fa5;
    padding: 1px;
    object-fit: cover;
}

.story .stories p{
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    padding-left: 15px;
}

.post{
    margin: 25px 0;
    background-color: white;
    border: 2px solid rgba(239,239,239,1);
    border-radius: 3px;
}

.post .post_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.post .post_name .post_left{
    display:flex;
    align-items: center;
}

/* .post .post_name .post_left .image{
    margin-right: 15px;
}
.post .post_name .post_left .image img{
    border-radius: 50%;
    object-fit: cover;
} */
.post .post_name .post_left .username{
    display: flex;
}

.post .post_name .post_left .username img{
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.post .post_name .post_left .username .name{
    padding: 5px;
    font-weight: bold;
}

.post .post_content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post .post_footer{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.post .post_footer_content{
    word-spacing: normal;
    line-height: 16px;
}

.post .post_footer .like-share-comment i{
    font-size: 22px;
    margin-right:10px ;
}

.post .post_footer .save i{
    font-size: 22px;
}

.post .post_footer_content{
    padding: 0 16px 16px 16px;
}
.post .post_footer_content p{
    padding: 3px;
}
.post .post_footer_content .like{
    padding-bottom: 6px;
}
.post .post_footer_content .name{
    font-weight: 600;
}
.post .post_footer_content span{
    margin-left: 10px;
    font-weight: normal;
}

.post .post_footer_content .time{
    font-size: 10px;
    margin-top: 6px;
}
.post .post_comment{
    padding: 16px;
    border-top:1px solid #efefef ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post .post_comment .comment_left{
    display: flex;
    align-items: center;
}
.post .post_comment .comment_left i{
    font-size: 22px;
    margin-right: 15px;
}
.post .post_comment .comment_left input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
}
.post .post_comment  .Comment_right p{
    margin-right: 10px;

}


.right_side{
    width: 35%;
    margin-top: 15px;
    position: fixed;
    right: 30px;
}
.profile_title{
    display: flex;
    align-items: center;
}

.profile_title .profile_left{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

 .profile_title .profile_left .image img{
    border-radius: 50%;
    object-fit: cover;
    margin-right: px;
}
.profile_title .profile_left .details .name{
    padding-bottom: 3px;
    
}

.right_side .profile_right{
    margin-left: 120px;
    
}

.suggestion{
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
}

.suggestion p{
    margin-right: 90px;
}

.suggestion_title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.suggestion_title .suggestion_left{
    display: flex;
    align-items: center;
    margin-right: 70px;
}

.suggestion_title .suggestion_left .image img{
    border-radius: 50%;
    margin-right: 18px;
    object-fit: cover;
}

.suggestion_title .suggestion_left .details .name{
    padding-bottom: 3px;
}